In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving hamiltonJudges.csv to hamiltonJudges.csv
User uploaded file "hamiltonJudges.csv" with length 1360 bytes

In [5]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
table= pd.read_csv('hamiltonJudges.csv')
table

                       Judge  Disposed  Appealed  Reversed     Court
0             Fred Cartolano      3037       137        12    Common
1               Thomas Crush      3372       119        10    Common
2        Patrick Dinkelacker      1258        44         8    Common
3              Timothy Hogan      1954        60         7    Common
4               Robert Kraft      3138       127         7    Common
5            William Mathews      2264        91        18    Common
6          William Morrissey      3032       121        22    Common
7              Norbert Nadel      2959       131        20    Common
8             Arthur Ney Jr.      3219       125        14    Common
9            Richard Niehaus      3353       137        16    Common
10              Thomas Nurre      3000       121         6    Common
11             John O'Connor      2969       129        12    Common
12           Robert Ruehlman      3205       145        18    Common
13  J. Howard Sundermann Jr.       955        60        10    Common
14          Ann Marie Tracey      3141       127        13    Common
15             Ralph Winkler      3089        88         6    Common
16       Penelope Cunningham      2729         7         1  Domestic
17       Patrick Dinkelacker      6001        19         4  Domestic
18            Deborah Gaines      8799        48         9  Domestic
19            Ronald Panioto     12970        32         3  Domestic
20                Mike Allen      6149        43         4      Muni
21              Nadine Allen      7812        34         6      Muni
22             Timothy Black      7954        41         6      Muni
23               David Davis      7736        43         5      Muni
24      Leslie Isaiah Gaines      5282        35        13      Muni
25               Karla Grady      5253         6         0      Muni
26               Deidra Hair      2532         5         0      Muni
27            Dennis Helmick      7900        29         5      Muni
28             Timothy Hogan      2308        13         2      Muni
29      James Patrick Kenney      2798         6         1      Muni
30           Joseph Luebbers      4698        25         8      Muni
31           William Mallory      8277        38         9      Muni
32               Melba Marsh      8219        34         7      Muni
33            Beth Mattingly      2971        13         1      Muni
34         Albert Mestemaker      4975        28         9      Muni
35              Mark Painter      2239         7         3      Muni
36                Jack Rosen      7790        41        13      Muni
37           Mark Schweikert      5403        33         6      Muni
38           David Stockdale      5371        22         4      Muni
39              John A. West      2797         4         2      Muni

# Q1

In [17]:
grouped_reversed=table['Reversed'].groupby(table['Court'])
type(grouped_reversed)

pandas.core.groupby.generic.SeriesGroupBy

In [14]:
grouped_table=table.groupby(table['Court']).sum()
grouped_table

          Disposed  Appealed  Reversed
Court
Common       43945      1762       199
Domestic     30499       106        17
Muni        108464       500       104

In [58]:
grouped_table['Appealed prob']=grouped_table['Appealed']/grouped_table['Disposed']
grouped_table['Appealed prob']=grouped_table['Appealed prob'].apply(lambda x: format(x, '.2%'))  
grouped_table['Reversed prob']=grouped_table['Reversed']/grouped_table['Disposed']
grouped_table['Reversed prob']=grouped_table['Reversed prob'].apply(lambda x: format(x, '.2%'))
grouped_table

<class 'numpy.float64'>

          Disposed  Appealed  Reversed Appealed prob Reversed prob
Court
Common       43945      1762       199         4.01%         0.45%
Domestic     30499       106        17         0.35%         0.06%
Muni        108464       500       104         0.46%         0.10%

--------
#Q2 + Q3

In [46]:
table2=table
table2['Appealed prob']=table2['Appealed']/table2['Disposed']
table2['Appealed prob']=table2['Appealed prob']
table2['Reversed prob']=table2['Reversed']/table2['Disposed']
table2['Reversed prob']=table2['Reversed prob']
table2

                       Judge  Disposed  ...  Appealed prob  Reversed prob
0             Fred Cartolano      3037  ...       0.045110       0.003951
1               Thomas Crush      3372  ...       0.035291       0.002966
2        Patrick Dinkelacker      1258  ...       0.034976       0.006359
3              Timothy Hogan      1954  ...       0.030706       0.003582
4               Robert Kraft      3138  ...       0.040472       0.002231
5            William Mathews      2264  ...       0.040194       0.007951
6          William Morrissey      3032  ...       0.039908       0.007256
7              Norbert Nadel      2959  ...       0.044272       0.006759
8             Arthur Ney Jr.      3219  ...       0.038832       0.004349
9            Richard Niehaus      3353  ...       0.040859       0.004772
10              Thomas Nurre      3000  ...       0.040333       0.002000
11             John O'Connor      2969  ...       0.043449       0.004042
12           Robert Ruehlman      3205  ...       0.045242       0.005616
13  J. Howard Sundermann Jr.       955  ...       0.062827       0.010471
14          Ann Marie Tracey      3141  ...       0.040433       0.004139
15             Ralph Winkler      3089  ...       0.028488       0.001942
16       Penelope Cunningham      2729  ...       0.002565       0.000366
17       Patrick Dinkelacker      6001  ...       0.003166       0.000667
18            Deborah Gaines      8799  ...       0.005455       0.001023
19            Ronald Panioto     12970  ...       0.002467       0.000231
20                Mike Allen      6149  ...       0.006993       0.000651
21              Nadine Allen      7812  ...       0.004352       0.000768
22             Timothy Black      7954  ...       0.005155       0.000754
23               David Davis      7736  ...       0.005558       0.000646
24      Leslie Isaiah Gaines      5282  ...       0.006626       0.002461
25               Karla Grady      5253  ...       0.001142       0.000000
26               Deidra Hair      2532  ...       0.001975       0.000000
27            Dennis Helmick      7900  ...       0.003671       0.000633
28             Timothy Hogan      2308  ...       0.005633       0.000867
29      James Patrick Kenney      2798  ...       0.002144       0.000357
30           Joseph Luebbers      4698  ...       0.005321       0.001703
31           William Mallory      8277  ...       0.004591       0.001087
32               Melba Marsh      8219  ...       0.004137       0.000852
33            Beth Mattingly      2971  ...       0.004376       0.000337
34         Albert Mestemaker      4975  ...       0.005628       0.001809
35              Mark Painter      2239  ...       0.003126       0.001340
36                Jack Rosen      7790  ...       0.005263       0.001669
37           Mark Schweikert      5403  ...       0.006108       0.001110
38           David Stockdale      5371  ...       0.004096       0.000745
39              John A. West      2797  ...       0.001430       0.000715

[40 rows x 7 columns]

In [47]:
A=table2['Appealed prob'].mean()
print('the probability of a case being apppealed for each judge is %.2f%%' % (A*100))

the probability of a case being apppealed for each judge is 1.88%

In [48]:
B=table2['Reversed prob'].mean()
print('the probability of a case being reversed for each judge is %.2f%%' % (B*100))

the probability of a case being reversed for each judge is 0.25%

----------
#Q4
P(B|A)=P(A|B)*P(B)/P(A)

In [49]:
print("the probability of reversal given an appeal for each judge is %.2f%%" % (B/A*100))

the probability of reversal given an appeal for each judge is 13.18%

#Q5
use the P(A-B)

In [61]:
grouped_table['Appealed prob']=grouped_table['Appealed']/grouped_table['Disposed']
grouped_table['Appealed prob']=grouped_table['Appealed prob'] 
grouped_table['Reversed prob']=grouped_table['Reversed']/grouped_table['Disposed']
grouped_table['Reversed prob']=grouped_table['Reversed prob']
grouped_table

          Disposed  Appealed  Reversed  Appealed prob  Reversed prob
Court
Common       43945      1762       199       0.040096       0.004528
Domestic     30499       106        17       0.003476       0.000557
Muni        108464       500       104       0.004610       0.000959

In [64]:
grouped_table['Appealed but not reversed prob']=grouped_table['Appealed prob']*(1-grouped_table['Reversed prob'])
grouped_table

          Disposed  Appealed  ...  Reversed prob  Appealed but not reversed prob
Court                         ...
Common       43945      1762  ...       0.004528                        0.039914
Domestic     30499       106  ...       0.000557                        0.003474
Muni        108464       500  ...       0.000959                        0.004605

[3 rows x 6 columns]

In [0]:
n=len(grouped_table)

In [94]:
grouped_table=grouped_table.sort_values('Appealed but not reversed prob',ascending=True)
grouped_table['Rank']=np.arange(1,n+1)
grouped_table

          Disposed  Appealed  ...  Appealed but not reversed prob  Rank
Court                         ...
Domestic     30499       106  ...                        0.003474     1
Muni        108464       500  ...                        0.004605     2
Common       43945      1762  ...                        0.039914     3

[3 rows x 7 columns]